.section-redes-sociais {
    margin: 55px 165px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 500px;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.section-redes-sociais>h1 {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

.section-redes-sociais>div {
    display: flex;
    flex-direction: column;
    margin: 48px 0px;
    width: 635px;
}

.section-redes-sociais>div>p {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.section-redes-sociais>div>nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.section-redes-sociais img {
    width: 100px;
    height: 100px;
}