.conteudo {
    margin: 15px 150px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conteudo>div {
    text-align: center;

    font-family: 'Jost', sans-serif;
}

.container {
    margin: 15px;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.container-slides {
    width: 400%;
    height: 400px;
    display: flex;

    cursor: pointer;
}

.container-slides input {
    display: none;
}

.container-slides-itens {
    width: 25%;
    position: relative;
}

.container-slides-itens img {
    width: 600px;
    height: 100%;
}

.navegacao-manual {
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.navegacao-manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.navegacao-manual-btn:not(:last-child) {
    margin-right: 20px;
}

.navegacao-manual-btn:hover {
    transition: 0.3s;
    background-color: #ffffff;
}

#radio-slides-1:checked~.inicio {
    margin-left: 0;
    transition: 0.8s;
}

#radio-slides-2:checked~.inicio {
    margin-left: -25%;
    transition: 0.8s;
}

#radio-slides-3:checked~.inicio {
    margin-left: -50%;
    transition: 0.8s;
}

#radio-slides-4:checked~.inicio {
    margin-left: -75%;
    transition: 0.8s;
}

.navegacao-auto {
    position: absolute;
    width: 600px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacao-auto div:not(:last-child) {
    margin-right: 20px;
}

.navegacao-auto div {
    border: 4px solid #20a6ff;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}

#radio-slides-1:checked~.navegacao-auto .navegacao-auto-btn1,
#radio-slides-2:checked~.navegacao-auto .navegacao-auto-btn2,
#radio-slides-3:checked~.navegacao-auto .navegacao-auto-btn3,
#radio-slides-4:checked~.navegacao-auto .navegacao-auto-btn4 {
    background-color: #ffffff;
}