.conteudo {
    margin: 15px 10%;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Jost', sans-serif;
}


.slides-conteudo input {
    display: none;
}

.slides-conteudo-itens {
    width: 25%;
    position: relative;
}

.slides-conteudo-itens img {
    width: 100%;
    height: 100%;
}

.slides-conteudo-navegacao-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slides-conteudo-navegacao-manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.slides-conteudo-navegacao-manual-btn:not(:last-child) {
    margin-right: 20px;
}

.slides-conteudo-navegacao-manual-btn:hover {
    transition: 0.3s;
    background-color: #ffffff;
}

#radio-slides-1:checked~.inicio {
    margin-left: 0;
    transition: 0.8s;
}

#radio-slides-2:checked~.inicio {
    margin-left: -25%;
    transition: 0.8s;
}

#radio-slides-3:checked~.inicio {
    margin-left: -50%;
    transition: 0.8s;
}

#radio-slides-4:checked~.inicio {
    margin-left: -75%;
    transition: 0.8s;
}

@media (min-width: 600px),
(max-width: 600px) {
    .conteudo header h1 {
        margin-top: 15px;

        font-weight: 700px;
        font-size: 26px;
        line-height: 14px;
        text-align: center;


        color: #000000;
    }

    .slides {
        margin: 15px;
        min-width: 400px;
        max-width: 600px;
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .slides-conteudo {
        width: 400%;
        height: 400px;
        display: flex;

        cursor: pointer;
    }

    .slides-conteudo-itens img {
        min-width: 400px;
        max-width: 600px;
    }

    .slides-conteudo-navegacao-manual {
        min-width: 400px;
        max-width: 600px;
        margin-top: -40px;
    }
}

@media (max-width: 400px) {
    .conteudo header h1 {
        margin-top: 10px;

        font-weight: 400pxs;
        font-size: 20px;
        line-height: 14px;

        text-align: center;

        color: #000000;
    }

    .slides {
        margin: 15px;
        min-width: 300px;
        max-width: 400px;
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .slides-conteudo {
        width: 400%;
        height: 250px;
        display: flex;

        cursor: pointer;
    }

    .slides-conteudo-itens img {
        min-width: 300px;
        max-width: 400px;
    }

    .slides-conteudo-navegacao-manual {
        min-width: 300px;
        max-width: 400px;
        margin-top: -30px;
    }
}

@media (max-width: 300px) {
    .conteudo header h1 {
        margin-top: 5px;

        font-weight: 100pxs;
        font-size: 20px;
        line-height: 14px;
        text-align: center;

        color: #000000;
    }

    .slides {
        margin: 15px;
        min-width: 120px;
        max-width: 300px;
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .slides-conteudo {
        width: 400%;
        height: 250px;
        display: flex;

        cursor: pointer;
    }

    .slides-conteudo-itens img {
        min-width: 120px;
        max-width: 300px;
        height: 250px;
    }

    .slides-conteudo-navegacao-manual {
        min-width: 120px;
        max-width: 300px;
        margin-top: -25px;
    }
}