@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('/docs/imgs/global/fundo-web.png');
    font-family: 'Jost', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgba(51, 50, 61, 1);
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 200px;
    max-width: 800px;
    width: 100%;
    height: 120px;
}

.header-logo a {
    all: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo img {
    width: 155px;
    height: 49px;

    cursor: pointer;
}

.header-logo h1 {
    all: unset;
    margin-top: 15px;
    font-weight: 100;
    font-size: 38px;
    line-height: 14px;
    letter-spacing: 0.9px;

    color: #FFFFFF;
    cursor: pointer;
}

.header-logo h2 {
    all: unset;
    font-weight: 100;
    margin-top: 8px;
    margin-left: 2px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.7px;

    color: #FFFFFF;
    cursor: pointer;
}

.header-menu nav {
    display: flex;
    min-width: 120px;
    max-width: 300px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header-menu nav button {
    all: unset;
    cursor: pointer;
    padding: 6px 10px;

    font-weight: 100;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header-menu nav>button:hover {
    transition: 0.2s;

    color: #F39035;

    background-image: url('/docs/imgs/global/fundo-botao-menu-web.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 99% 1px;
}

.header-menu nav button:active {
    color: #FFFFFF;
}

.footer {
    height: 35px;
    width: 100%;
    background-color: rgba(51, 50, 61, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    all: unset;
    padding: 5px;

    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.7px;
    font-weight: 100;

    color: #FFFFFF;
}

.footer span a {
    all: unset;

    padding: 5px;

    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.7px;
    font-weight: 100;

    color: #FFFFFF;

    cursor: pointer;
}

.footer div a {
    all: unset;
    cursor: pointer;
}

.footer div a img {
    width: 25px;
    height: 25px;
}

@media (max-width:500px) {
    .footer div a img {
        display: none;
    }

}

@media (max-width: 420px) {
    .header-container {

        justify-content: space-around;
        align-items: center;
    }

    .header-container {
        height: 80px;
    }

    .header-logo a {
        justify-content: center;
    }

    .header-logo img {
        width: 100px;
        height: 35px;

        cursor: pointer;
    }

    .header-logo h1 {
        all: unset;
        margin-top: 15px;
        font-weight: 100;
        font-size: 24px;
        line-height: 14px;
        letter-spacing: 0.9px;

        color: #FFFFFF;
        cursor: pointer;
    }

    .header-logo h2 {
        display: none;
    }

    .header-menu nav {
        display: flex;
        flex-direction: column;
        min-width: 99px;
        max-width: 350px;
        width: 100%;
        height: 100%;

        justify-content: space-around;
        align-items: center;
    }

    .header-menu nav button {
        all: unset;
        cursor: pointer;
        padding: 2px 8px;

        font-weight: 100;
        font-size: 16px;
        line-height: 14px;
        letter-spacing: 0.9px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    #empresa {
        display: none;
    }
}

@media (max-width: 215px) {
    .header-logo h1 {
        display: none;
    }

    .header-menu nav button {
        all: unset;
        cursor: pointer;
        padding: 2px 8px;

        font-weight: 100;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.9px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    .footer {
        display: none;
    }
}